<ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: rgb(230, 132, 20);"
    id="accordionSidebar">

    <!-- Sidebar - Brand -->


    <div style="display: flex; gap: 30px; flex-direction: column;">
        <div class="sidebar-brand-icon rotate-n-15"
            style="display: flex; justify-content: center; align-items: center; margin-top: 16px">
            <a href="/admin"><img style="width: 100px;"
                    src="https://www.gifsanimados.org/data/media/532/pollo-imagen-animada-0166.gif"
                    alt="pollo-imagen-animada-0166" /></a>
        </div>
        <div class="sidebar-brand-text mx-3"><span style="color: white; font-size: 20px;">GRANJA CHOLON</span> </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        MODULOS
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - SEGURIDAD -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#seguridad" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fa-sharp fa-solid fa-shield-halved fa-beat-fade" style="color: white; font-size: 20px;"></i>
            <span>SEGURIDAD</span>
        </a>
        <div id="seguridad" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <!-- <a class="collapse-item" href="/admin/perfiles">Perfiles</a> -->
                <% if (idperfil==1 || idperfil==2 ) { %>
                    <a class="collapse-item" href="/admin/usuarios">Usuarios</a>
                    <a class="collapse-item" href="/admin/reguser">Registrar Usuarios</a>
                    <% } %>
                        <a class="collapse-item" href="/admin/password">Cambiar contraseña</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - LOTES (condicionado por idperfil) -->
    <% if (idperfil==1 || idperfil==3 || idperfil==4) { %>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#lotes" aria-expanded="true"
                aria-controls="collapseTwo">
                <i class="fa-solid fa-layer-group fa-beat-fade" style="color: white;font-size: 20px;"></i>
                <span>LOTES</span>
            </a>
            <div id="lotes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Vistas:</h6>
                    <% if (idperfil==1 || idperfil==3) { %>
                        <a class="collapse-item" href="/admin/galpon">Galpones</a>
                        <% } %>
                        <!--ACA FALTA EN LA VISTA QUE EL REGISTRAR SOLO SE HABILITE PARA EL OPERARIO DE GALPON-->
                            <a class="collapse-item" href="/admin/prueba">Control Galpon</a>
                </div>
            </div>
        </li>
        <% } %>

            <!-- Nav Item - REPORTES (condicionado por idperfil) -->
            <% if (idperfil==1 || idperfil==2) { %>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reportes"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fa-solid fa-chart-simple fa-beat-fade" style="color: white; font-size: 20px;"></i>
                        <span>REPORTES</span>
                    </a>
                    <div id="reportes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Vistas:</h6>
                            <a class="collapse-item" href="/admin/reportes_galpon">Reporte Galpon</a>
                            <a class="collapse-item" href="/admin/reportes_alimento">Reporte Alimento</a>
                            <a class="collapse-item" href="/admin/reportes_medicamento">Reporte Medicamento</a>
                            <a class="collapse-item" href="/admin/reportes_diagnostico">Reporte Diagnostico</a>
                        </div>
                    </div>
                </li>
                <% } %>


                    <script>
                        function mostrarMensajeModuloEnDesarrollo() {
                            Swal.fire({
                                icon: 'info',
                                title: 'Módulo en desarrollo.',
                                text: ' Pronto estará disponible.',
                                timer: 2000,
                                showConfirmButton: false
                            })

                        }
                    </script>



                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">

                    <!-- Sidebar Toggler (Sidebar) -->
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>

</ul>